// Place all the styles related to the publics/endusers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.taikai{
    margin-top: 150px;
}
.iine{
	margin-top: 100px;
	margin-left: 100px;
}
.border{
	margin-top: 20px;
	margin-left: 50px;
}
.kounyuu{
	margin-top: 20px;
}