// Place all the styles related to the publics/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
	background-color:red;
}
.row-md-10{
	background-color:green;
}
.col-md-12{
	background-color:blue;
}
