// Place all the styles related to the publics/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-bottom span{
	color:red;
}

.order-bottom{
	text-align :right;
}

.order{
	text-align :center;
}

.col-left{
}
.col-right{
  margin :105px 0 0 0;
  padding :0 0 0 0;
  background-color:#b0c4de;
}
.col-md-6{
  display:inline-block;
  float:left;
}
.address{
  margin-top:30px;
}
.item_table{
  margin-top:30px;
  float:left;
  width:554px;
}
.row-back{
}
.image-right{
  width:418px;
}
.pp{
  margin:0;
}

.pp4{
  font-size:20px;
  color:red;
  margin :20px 0 ;
}