// Place all the styles related to the publics/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-bottom span{
	color:red;
}

.order-bottom{
	text-align :right;
}

.order{
	text-align :center;
}

.Address-information{
    width: 200px;
    position: relative; bottom: 260px; left:800px;
  }
  .item-history{
    width: 300px;
    position: relative; top: 40px; left: 70px;
  }
  .item-information{
     position: relative; bottom: 100px; left: 200px;
  }
  .border-top{
    width: 100%;
    border: 1px solid #bbb;
  }
  .border-down{
    width: 100%;
    border: 1px solid #bbb;

