// Place all the styles related to the admins/endusers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.taikai{
        margin-top: 150px;
    }
.iine{
    margin-top: 100px;
    margin-left: 100px;
}
.border{
    margin-top: 20px;
    margin-left: 50px;
}

.user{
	margin-top: 40px;
}

.tr-user{
	background-color: #EEFFFF;
}