<h2>送料変更フォーム</h2>
<div>
	<%= form_for(@freight, url:admins_freight_path) do |f| %>
		<label>送料:</label>
		<%= f.text_field :postage, placeholder:"(例)1000" %><span>円</span><br>
		<%= f.submit "変更" %>
	<% end %>
</div>