<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="well">
				<h2>顧客一覧</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-bordered">
			</table>
		</div>
	</div>
</div>
						