<div class="descs">
  <%= f.fields_for :discs do |disc| %>
    <%= render "admins/items/disc_fields", f: disc %>
  <% end %>
  <div class="links">
    <%= link_to_add_association "Discの追加", f, :discs, class:"btn btn-info active btn-xs" %>
  </div>
</div>