<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1>送信が完了しました</h1>
			<p>お問い合わせありがとうございます！</p>
			<%= link_to"商品一覧へ戻る",items_path %>
		</div>
	</div>
</div>

<style>
.container{
	margin-top: 100px;
}
</style>
