/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: inline-block;
}

// header-------------------------------------

header {
	background-color: white;
	border: solid 2px #d3d3d3;
	box-shadow: 0 0 8px gray;
}

.header-top {
	height: 100px;
	width: 100%;
	// vertical-align: middle; 不要かも
	position: relative;
}

.nav-position{
	position: relative;
	top: 20px;
	left: 90px;
}

.nav-title {
	color: #333333;
	text-decoration: none !important;
	position: relative;
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
	padding: 10px;
	background-color: #d3d3d3;
	box-shadow: 0px 0px 0px 5px #d3d3d3;
	border: dashed 2px white;
}

.nav-title:hover {
	color: #333333;
}

.nav-title:visited {
	color: #333333;
}

.nav-title:after {
	position: absolute;
	content: '';
	left: -7px;
	top: -7px;
	border-width: 0 0 15px 15px;
	border-style: solid;
	border-color: #fff #fff #696969;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.nav-right {
	float: right;
}

li {
  list-style: none;
}

.navlist {
	margin: 5px;
	padding: 4px 4px;
	background: -webkit-repeating-linear-gradient(-45deg, #696969, #d3d3d3 2px, #d3d3d3 2px, #d3d3d3 4px);
	background: repeating-linear-gradient(-45deg, #696969, #d3d3d3 2px, #d3d3d3 2px, #d3d3d3 4px);
	float: left;
	border-radius: 5px;
	box-shadow: 0 0 5px gray;
}

// 管理者側header
.navlist:last-child {
	margin-right: 15px;
}

// 顧客側header loginしていない場合
.non-user-nav {
	position: absolute;
	top: 20px;
	right: 30px;
}

// footer-------------------------------------
footer {
	background-color: white;
	border: solid 2px #d3d3d3;
	box-shadow: 0 0 8px gray;
}

.footer {
	height: 80px;
	margin-top: -80px;
	width: 100%;
	position: relative;
}

.footer-title {
	position: relative;
	padding: 3px 30px;
	border-top: solid 2px #696969;
	border-bottom: solid 2px #696969;
	position: absolute;
	bottom: 25px;
	left: 20px;
}

.footer-title:before, .footer-title:after {
	content: '';
	position: absolute;
	top: -7px;
	width: 2px;
	height: -webkit-calc(100% + 14px);
	height: calc(100% + 14px);
	background-color: #696969;
}

.footer-title:before {
	left: 7px;
}

.footer-title:after {
	right: 7px;
}

.footer-contact {
	position: absolute;
	bottom: 25px;
	right: 20px;
}

// body---------------------------------------
html,body {
	height:100%  !important;
}

.push {
	height: 70px;
}

.wrapper {
	min-height: 100%;
}

.row {
	border: solid 1px black;
}


@import "bootstrap-sprockets";
@import "bootstrap";